*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex: 0 1 auto;
}
div {
    display: block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
span {
    font-size: 14px;
}
html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Common Tag Style */
.Input-common-style {
    outline: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: 0px !important;
    border-radius: 0px !important;
    margin: 0px !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0px !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}
.Span-common-style {
    font-size: 16px !important;
    line-height: 20px !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-weight: 400 !important;
    padding: 10px 12px !important;
    pointer-events: auto !important;
    position: relative !important;
    text-align: center !important;
    z-index: 0 !important;
    color: #222222 !important;
}
.Span-common-style::before {
    background-color: currentcolor !important;
    border-radius: 1px !important;
    bottom: 0px !important;
    content: "" !important;
    height: 2px !important;
    left: 50% !important;
    margin-left: -9px !important;
    position: absolute !important;
    -webkit-transform: scaleX(0) !important;
    -ms-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    width: 18px !important;
}

/* CSS */
.Info-inner-wrapper {
    padding-left: 24px !important;
    padding-right: 24px !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: var(--text-color-hex, #222222) !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    background: var(--background-color-hex, #F7F7F7) !important;
    text-align: center !important;
    position: relative !important;
    --background-color-hex: #222222;
    --text-color-hex: #A3A3A3;
}
.Info-print-wrapper {
    font-size: 12px !important;
    line-height: 16px !important;
    color: inherit !important;
    display: inline-block !important;
    font-weight: 600 !important;
    text-decoration: underline !important;
    white-space: nowrap !important;
    --text-hover-color-hex: #A3A3A3CC;
}
.Info-content {
    white-space: normal !important;
}
.HeaderWrapper::before {
    background-image: -webkit-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0)) !important;
    background-image: -moz-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0)) !important;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0)) !important;
    content: "" !important;
    height: 140% !important;
    left: 0px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;
    z-index: 0 !important;
    -webkit-transition: 150ms opacity ease !important;
    -moz-transition: 150ms opacity ease !important;
    transition: 150ms opacity ease !important;
}
.HeaderWrapper::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px !important;
    -webkit-transform-origin: 50% 0% !important;
    -ms-transform-origin: 50% 0% !important;
    transform-origin: 50% 0% !important;
    -webkit-transition-duration: 150ms !important;
    transition-duration: 150ms !important;
    -webkit-transition-property: opacity, -webkit-transform, transform !important;
    -moz-transition-property: opacity, transform !important;
    transition-property: opacity, -ms-transform, -webkit-transform, transform !important;
    -webkit-transition-timing-function: ease !important;
    transition-timing-function: ease !important;
    background: #FFFFFF !important;
    content: "" !important;
    height: 100% !important;
    left: 0px !important;
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;
    z-index: 0 !important;
    -webkit-transform: scaleY(3.05) !important;
    -ms-transform: scaleY(3.05) !important;
    transform: scaleY(3.05) !important;
    opacity: 0 !important;
}
.Logo-outter-space {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    outline: none !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    display: -webkit-inline-box !important;
    display: -moz-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
    height: 80px !important;
    position: relative !important;
    vertical-align: middle !important;
    z-index: 1 !important;
    color: #222222 !important;
}
.Logo-outter-space::before {
    border-radius: 12px !important;
    bottom: 8px !important;
    content: "" !important;
    left: -8px !important;
    position: absolute !important;
    right: -8px !important;
    top: 8px !important;
}
.Logo-box {
    display: block;
}
.Search-bar-total-section {
    padding-bottom: 16px !important;
    position: relative !important;
    z-index: 1 !important;
}
.Search-bar-inner-section {
    margin: 0 auto !important;
    max-width: 850px !important;
}
.Menu-contents-section {
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}
.Menu-contents-inner-section {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    height: 80px !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
}
.Stay-in-B::before{
    background-color: currentcolor !important;
    border-radius: 1px !important;
    bottom: 0px !important;
    content: "" !important;
    height: 2px !important;
    left: 50% !important;
    margin-left: -9px !important;
    position: absolute !important;
    -webkit-transform: scaleX(0) !important;
    -ms-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    width: 18px !important;
}
.Online-experience-A {
    cursor: pointer !important;
    position: relative !important;
    border-color: black !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    font-weight: inherit !important;
    border-radius: 8px !important;
    border-width: 1px !important;
    border-style: solid !important;
    outline: none !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    -webkit-transition: box-shadow 0.2s ease, -webkit-transform 0.1s ease, transform 0.1s ease !important;
    -moz-transition: box-shadow 0.2s ease, transform 0.1s ease !important;
    transition: box-shadow 0.2s ease, -ms-transform 0.1s ease, -webkit-transform 0.1s ease, transform 0.1s ease !important;
    -webkit-tap-highlight-color: transparent !important;
    background: transparent !important;
    border: none !important;
    color: inherit !important;
    display: block !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: inherit !important;
    text-decoration: none !important;
    height: 100% !important;
    width: 100% !important;
}
.Online-experience-B {
    outline: none !important;
    font-size: 16px !important;
    line-height: 20px !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-weight: 400 !important;
    padding: 10px 12px !important;
    pointer-events: auto !important;
    position: relative !important;
    text-align: center !important;
    z-index: 0 !important;
    color: #222222 !important;
}
.Online-experience-B::before {
    background-color: currentcolor !important;
    border-radius: 1px !important;
    bottom: 0px !important;
    content: "" !important;
    height: 2px !important;
    left: 50% !important;
    margin-left: -9px !important;
    position: absolute !important;
    -webkit-transform: scaleX(0) !important;
    -ms-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    width: 18px !important;
}
.Search-bar-outter-wrapper {
    border: 1px solid #DDDDDD !important;
    border-radius: 32px !important;
    color: #222222 !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    height: 66px !important;
    position: relative !important;
    width: 100% !important;
    --big-search-form-background: #FFFFFF !important;
    background-color: #FFFFFF !important;
}
.Search-bar-innner-wrapper {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex: 1 1 0% !important;
    -ms-flex: 1 1 0% !important;
    flex: 1 1 0% !important;
    height: 100% !important;
    min-width: 0px !important;
    pointer-events: auto !important;
}
.Location-section {
    -webkit-flex: 1 0 0% !important;
    -ms-flex: 1 0 0% !important;
    flex: 1 0 0% !important;
    min-width: 0px !important;
}
.Location-section-outter-wrapper {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    position: relative !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex: 1 0 0% !important;
    -ms-flex: 1 0 0% !important;
    flex: 1 0 0% !important;
    margin: -1px !important;
    min-width: 0px !important;
}
.Location-section-inner-wrapper {
    cursor: pointer !important;
    display: block !important;
    background-clip: padding-box !important;
    border: 1px solid transparent !important;
    border-radius: 32px !important;
    -webkit-flex: 1 0 0% !important;
    -ms-flex: 1 0 0% !important;
    flex: 1 0 0% !important;
    min-width: 0px !important;
    padding: 14px 32px !important;
}
.Location-section-inner-wrapper::after {
    background-clip: padding-box !important;
    border: 1px solid transparent !important;
    border-radius: 32px !important;
    bottom: 0px !important;
    content: "" !important;
    left: 0px !important;
    position: absolute !important;
    right: 0px !important;
    top: 0px !important;
    z-index: 0 !important;
}
.Location-inner-contents-wrapper {
    position: relative !important;
    z-index: 1 !important;
}
.Location-printing {
    font-weight: 800 !important;
    letter-spacing: 0.04em !important;
    font-size: 12px !important;
    line-height: 16px !important;
    padding-bottom: 2px !important;
}
.Location-search {
    display: block !important;
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    background: none !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    color: #222222 !important;
    text-overflow: ellipsis !important;
}
.Section-fix-A {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    background-color: #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 40px !important;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
    color: #222222 !important;
    display: -webkit-inline-box !important;
    display: -moz-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
    max-width: 100% !important;
    text-align: left !important;
    -webkit-transition: box-shadow 0.2s ease !important;
    -moz-transition: box-shadow 0.2s ease !important;
    transition: box-shadow 0.2s ease !important;
    vertical-align: middle !important;
}
.Section-fix-B {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    color: inherit !important;
    cursor: pointer !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    margin: -1px !important;
    outline: none !important;
    overflow: visible !important;
    padding: 0px !important;
    text-align: inherit !important;
    text-decoration: none !important;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    border-radius: 4px !important;
    -webkit-flex: 0 1 auto !important;
    -ms-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
    height: 48px !important;
    min-width: 0px !important;
    position: relative !important;
    z-index: 1 !important;
}
.Section-fix-B:last-of-type {
    border-top-right-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
}
.Section-fix-B:first-of-type {
    padding-left: 8px !important;
    border-top-left-radius: inherit !important;
    border-bottom-left-radius: inherit !important;
}
.Section-fix-B:only-of-type {
    width: 300px !important;
}
.Section-fix-C {
    font-size: 14px !important;
    line-height: 18px !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    min-width: 0px !important;
    font-weight: 600 !important;
    padding: 0 16px !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}
.Section-fix-D {
    background-color: var(--header-brand-color, #FF385C) !important;
    background-color: #FF385C !important;
    border-radius: 50% !important;
    color: #FFFFFF !important;
    -webkit-flex: 0 0 32 !important;
    -ms-flex: 0 0 32 !important;
    flex: 0 0 32 !important;
    height: 32px !important;
    margin: 7px 7px 7px 0 !important;
    padding: 10px !important;
    width: 32px !important;
}